@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url("../images/Steam.jpg"); /* Update the image path if necessary */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  color: white;
  background-color: black; /* Set the background color of the text field to black */
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.instructions {
  margin-top: 40px;
  flex-grow: 1;
}

.instructions p {
  font-weight: bold;
}

.instructions ol {
  padding-left: 20px;
}

.instructions li {
  margin-bottom: 10px;
}
